.about-blurb
{
	margin: 1rem;
	max-width: 50rem;
}

.btn
{
	background-color: #fcfcfc;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	color: #222629;
	cursor: pointer;
	filter: drop-shadow(0 1px #d1d2d3);
	height: 30px;
	margin: 4px;
	transition: border-color 0.25s ease-out;
	white-space: nowrap;
	width: min-content;
}

.btn:active
{
	transition: border-color 0.25s ease-out;
	background-color: #b2e3f8;
	border-color: #00b0ef;
}

.btn:focus
{
	background-color: #d0edfa;
	border-color: #65b3d2;
}

.btn:hover
{
	border-color: #00b0ef;
}

.column
{
	display: flex;
	flex-flow: column;
}

.container
{
	background-color: #eff0f1;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	color: black;
	display: flex;
	flex-flow: column;
	filter: drop-shadow(black 0.5rem 0.5rem 1rem);
	padding: 4px;
	text-align: center;
}

.container input[type=text], .container input[type=password]
{
	background-color: #fcfcfc;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	box-sizing: border-box;
	color: black;
	height: 30px;
	margin: 4px;
	width: 100%;
}

.container input[type=text]:hover, .container input[type=password]:hover, .container input[type=text]:focus, .container input[type=password]:focus
{
	border-color: #00b0ef;
	outline: none;
	transition: border-color 0.25s ease-out;
}

.content
{
	background-color: white;
	display: flex;
	height: 100%;
	transition: filter 0.25s ease-out;
}

.content-body
{
	background-color: #eeeeee;
	margin: 1rem auto;
	width: 90rem;
}

.frame
{
	background-color: #f4f5f5;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	margin: 4px;
	padding: 10px;
}

.label
{
	margin: auto 0;
	text-align: right;
	white-space: nowrap;
}

.logo
{
	display: flex;
	flex-flow: column;
	margin: auto;
	text-align: center;
	width: fit-content;
}

.navbar
{
	background-color: black;
	color: white;
	overflow: hidden;
	padding-top: 1rem;
}

.navbar-button
{
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

.navbar-button:hover
{
	background-color: white;
	color: black;
	cursor: pointer;
}

.navbar-content
{
	display: flex;
	margin: auto;
	padding: 1rem;
	width: 90rem;
}

.popup
{
	display: block;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(100vw, -50%);
}

.popup-label
{
	margin: 4px;
	text-align: left;
}

.row
{
	display: flex;
	margin-left: auto;
}

.subtitle
{
	cursor: pointer;
	font-size: 1rem;
	text-align: center;
}

.title
{
	cursor: pointer;
	font-size: 2rem;
}

body
{
	display: flex;
	flex-flow: column;
	font-family: system-ui;
	height: 100%;
	margin: 0;
}

html
{
	height: 100%;
}
