.about-blurb
{
	margin: 1rem;
}

.about-container
{
	background-color: black;
	color: white;
	filter: drop-shadow(black 0.5rem 0.5rem 1rem);
	padding: 1rem;
	text-align: center;
	width: 50rem;
}

.about-popup
{
	display: none;
	left: calc(100vw/2 - 25rem);
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

.btn
{
	background-color: #fcfcfc;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	color: black;
	cursor: pointer;
	filter: drop-shadow(0 1px #d1d2d3);
	height: 30px;
	margin: 4px;
	width: 100%;
}

.btn:hover
{
	border-color: #00b0ef;
}

.content
{
	background-color: white;
	display: flex;
	height: 100%;
}

.content-body
{
	background-color: #eeeeee;
	margin: 1rem auto;
	width: 90rem;
}

.frame
{
	background-color: #f4f5f5;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	margin: 4px;
	padding: 10px;
}

.label
{
	margin: auto 0;
}

.login-container
{
	background-color: #eff0f1;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	color: black;
	display: flex;
	flex-flow: column;
	filter: drop-shadow(black 0.5rem 0.5rem 1rem);
	max-width: 20rem;
	padding: 4px;
	width: 20rem;
}

.login-container input[type=text], .login-container input[type=password]
{
	background-color: #fcfcfc;
	border: 1px solid #bcbbbd;
	border-radius: 3px;
	box-sizing: border-box;
	color: black;
	height: 30px;
	margin: 4px;
	width: 100%;
}

.login-container input[type=text]:hover, .login-container input[type=password]:hover, .login-container input[type=text]:focus, .login-container input[type=password]:focus
{
	border-color: #00b0ef;
	outline: none;
}

.login-popup
{
	display: none;
	left: calc(100vw/2 - 10rem);
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

.logo
{
	display: flex;
	flex-flow: column;
	margin: auto;
	text-align: center;
	width: fit-content;
}

.navbar
{
	background-color: black;
	color: white;
	overflow: hidden;
	padding-top: 1rem;
}

.navbar-button
{
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

.navbar-button:hover
{
	background-color: white;
	color: black;
	cursor: pointer;
}

.navbar-content
{
	display: flex;
	margin: auto;
	padding: 1rem;
	width: 90rem;
}

.row
{
	display: flex;
}

.subtitle
{
	cursor: pointer;
	font-size: 1rem;
	text-align: center;
}

.title
{
	cursor: pointer;
	font-size: 2rem;
}

body
{
	display: flex;
	flex-flow: column;
	font-family: system-ui;
	height: 100%;
	margin: 0;
}

html
{
	height: 100%;
}
