.about-container
{
	background-color: black;
	color: white;
	filter: drop-shadow(black 0.5rem 0.5rem 1rem);
	padding: 1rem;
	text-align: center;
	width: 50rem;
}

.about-popup
{
	display: none;
	left: calc(100vw/2 - 25rem);
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

.content
{
	background-color: white;
	display: flex;
	height: 100%;
}

.content-body
{
	background-color: #eeeeee;
	margin: 1rem auto;
	width: 90rem;
}

.login-container
{
	background-color: black;
	color: white;
	filter: drop-shadow(black 0.5rem 0.5rem 1rem);
	max-width: 20rem;
	padding: 1rem;
}

.login-container input[type=text], .login-container input[type=password]
{
	background: white;
	border: none;
	color: black;
	padding: 1rem;
	margin: 1rem 0;
	width: calc(100% - 2rem);
}

.login-container input[type=text]:focus, .login-container input[type=password]:focus
{
	background-color: #ddd;
	outline: none;
}

.login-container .btn
{
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	margin-bottom:1rem;
	padding: 1rem;
	width: 100%;
}

.login-container .btn:hover
{
	background-color: #ddd;
}

.login-container .cancel
{
	background-color: red;
	color: white;
}

.login-container .cancel:hover
{
	background-color: maroon;
}

.login-popup
{
	display: none;
	left: calc(100vw/2 - 10rem);
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

.logo
{
	text-align: center;
}

.navbar
{
	background-color: black;
	color: white;
	overflow: hidden;
	padding-top: 1rem;
}

.navbar-button
{
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

.navbar-button:hover
{
	background-color: white;
	color: black;
	cursor: pointer;
}

.navbar-content
{
	display: flex;
	margin: auto;
	padding: 1rem;
	width: 90rem;
}

.subtitle
{
	font-size: 1rem;
	text-align: center;
}

.title
{
	font-size: 2rem;
}

body
{
	display: flex;
	flex-flow: column;
	font-family: system-ui;
	height: 100%;
	margin: 0;
}

html
{
	height: 100%;
}
