.borderless-button
{
	--bs-border-color: transparent;
	--bs-border-radius: 3px;
	background-color: inherit;
	transition: border-color 0.25s ease-out;
}

.borderless-button:active
{
	--bs-border-color: #00b0ef !important;
	background-color: #9ed0e8 !important;
	transition: background-color 0.25s ease-out;
}

.borderless-button:hover
{
	--bs-border-color: #00b0ef !important;
}

.button
{
	background-color: #fcfcfc;
	transition: border-color 0.25s ease-out;
}

.button .label
{
	cursor: pointer;
}

.button:active
{
	--bs-border-color: #00b0ef;
	background-color: #b2e3f8;
	transition: border-color 0.25s ease-out;
}

.button:disabled
{
	--bs-border-color: #dadbdb !important;
	background-color: #f0f0f0;
	color: #a8a9aa;
}

.button:disabled .icon
{
	filter: invert(82%) sepia(0%) saturate(780%) hue-rotate(238deg) brightness(116%) contrast(79%);
}

.button:focus
{
	--bs-border-color: #65b3d2;
	background-color: #d0edfa;
}

.button:hover
{
	--bs-border-color: #00b0ef;
}

input[type=password], input[type=text]
{
	background-color: #fcfcfc;
	height: 30px;
	transition: border-color 0.25s ease-out;
}

input[type=password]:focus, input[type=password]:hover, input[type=text]:focus, input[type=text]:hover
{
	--bs-border-color: #00b0ef;
	outline: none;
}

.container-fluid
{
	max-width: 90rem;
}

.content
{
	width: 90rem;
}

.content-body
{
	--bs-border-color: #bcbbbd;
}

.frame
{
	background-color: #f4f5f5;
	padding: 10px;
}

.inline-img
{
	margin: auto;
	max-height: 25rem;
}

.modal-content
{
	--bs-border-color: #bcbbbd;
	--bs-modal-footer-border-width: 0;
	--bs-modal-header-border-width: 0;
}

.nav-item
{
	--bs-border-color: transparent;
	cursor: pointer;
	transition: border-color 0.25s ease-out;
}

.nav-item:active
{
	transition: background-color 0.25s ease-out;
	background-color: #9ed0e8;
}

.nav-item:hover
{
	--bs-border-color: #00b0ef;
}

.nav-tabs
{
	background-color: #c7c8c9;
	bottom: -1px;
	width: min-content
}

.nav-tabs .nav-item .nav-link
{
	--bs-nav-link-font-size: 13px;
	border-top-width: 3px;
	cursor: default;
	padding: 2px 0 6.25px;
	transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
}

.nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover
{
	background-color: #c5e4f2;
	border-color: #c5e4f2;
}

.nav-tabs .nav-item .nav-link.first:focus, .nav-tabs .nav-item .nav-link.first:hover
{
	border-top-left-radius: 3px !important;
	border-top-right-radius: 0;
}

.nav-tabs .nav-item .nav-link.last:focus, .nav-tabs .nav-item .nav-link.last:hover
{
	border-top-left-radius: 0;
	border-top-right-radius: 3px !important;
}

.nav-tabs .nav-item .nav-link.active
{
	background-color: #f4f5f5 !important;
	border-color: #00b0ef #bcbebf;
	border-radius: 3px 3px 0 0 !important;
	transition: unset;
	z-index: 2;
}

.navbar
{
	--bs-border-color: #aeb2b4;
}

.navbar-nav .nav-item
{
	--bs-nav-link-font-size: 10px;
	margin: 5.5px 1px;
	padding: 0 7.5px 0 7px;
}

.tab-pane
{
	--bs-border-radius: 0 3px 3px;
	background-color: #f4f5f5;
	max-width: 50rem;
}

body
{
	--bs-body-bg: #eff0f1;
	--bs-body-bg-rgb: 239, 240, 241;
	--bs-border-radius: 3px;
	--bs-box-shadow-sm: 0px 1px 0px 0px rgba(209,210,211,1);
	--bs-tertiary-bg: #dee0e2;
	--bs-tertiary-bg-rgb: 222, 224, 226;
}
