<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Formulaire</title>
</head>
<body>
    <form action="{% url 'cool' %}" method="post">
        {% csrf_token %}
        <label for="input_text">Entrez votre texte :</label>
        <input type="text" id="input_text" name="input_text">
        <button type="submit">Soumettre</button>
        {% if not registered %}
            <p> User deja enregistrer !</p>
        {% endif %}
    </form>
</body>
</html>